extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= project.project_name
        p.lead.text-light= project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each technology in project.technologies
            li= technology
        if project.live_link
          a.button.expanded(href=`${project.live_link}`) Live Demo
        if project.github_link
          a.button.expanded(target='_blank' href=`${project.github_link}`) GitHub Repo
    
    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential employers will like to see. 
    each img in project.image_urls.images
      img.image(src=`/static/${img}`)